.billing-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  
    .billing-page-img-sec {
      display: flex;
      justify-content: center;
    }
  
    .billing-page-image {
      height: 455px;
    }
  
    .billing-summary,
    .IXES-billing-summary,
    .payment-info {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .billing-summary {
      h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
  
      .plan-info {
        margin-bottom: 20px;
  
        p {
          font-size: 1.2rem;
        }
      }
  
      .price-details {
        .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
  
          &.total {
            font-weight: bold;
          }
        }
      }
    }
  
    .IXES-billing-summary {
      h2 {
        font-size: 25px;
        margin-bottom: 23px;
      }
  
      p {
        margin-bottom: 2rem;
        font-size: 19px;
      }
  
      .plan-info {
        margin-bottom: 20px;
  
  
      }
  
      .price-details {
        .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
  
          &.total {
            font-weight: bold;
          }
        }
      }
    }
  
    .IXESPlan-billing-amount {
      font-size: 23px;
      font-weight: 600;
    }
  
    .IXESPlan-billing-includes {
      font-size: 16px;
    }
  
    .payment-info {
      h3 {
        margin-bottom: 10px;
      }
  
      .input-field,
      .input-small {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  
      .input-small {
        width: 48%;
      }
  
      .card-details {
        display: flex;
        justify-content: space-between;
        gap: 5px;
      }
  
      .checkbox-section {
        margin: 20px 0;
  
        label {
          display: block;
          margin-bottom: 10px;
  
          input {
            margin-right: 10px;
          }
        }
      }
  
      .subscribe-btn {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }