.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68vh;
  padding: 20px;
  font-family: system-ui;
}
  
  .success-page-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 7px 10px 7px #f0f0f0;
    max-width: 600px;
    width: 100%;
    border: 1px solid #eeeeee;

  }
  
  h1 {
    color: #28a745;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #333;
  }
  
  .order-summary {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .order-summary h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 46px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  