.mystore {

    display: flex;
    flex-direction: column;
    padding: 19px 14px 16px 8px;

    &__spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    &__category_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 20px 4px 20px 2px;
    }

    &__empty_msg {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        font-size: 21px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #2d2d2d;
        font-family: system-ui;
    }

    &__select_category {
        padding: 4px 11px 6px 6px;
        /* margin: 0px 20px 0px 10px; */
        font-size: 14px;
        font-family: system-ui;
        font-weight: 300;
        border: none;
        /* width: 79px; */
        border-radius: 10px;
        outline: none;
        background: white;
        font-weight: 500;
        /* border: 1px solid #ffffff; */
        color: #171717;

    }

    &__products_sec {
        display: flex;
        margin: 24px 0px 30px 0px;
        gap: 12px;
        justify-content: center;
        flex-wrap: wrap;

    }


    &__banner_img {
        height: 41vh;
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
    }

    &__pagination {
        margin: 15px 5px 5px 5px;
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    &__pagination_icon {
     font-size: 15px;
     color: black;
    }
    &__pagination-btn {
     border: none;
    }

}