.single-product-container {
    margin: 48px 60px 10px 60px;

}

.single-product-details {
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-product-left {
    margin: 0px 35px 0px 34px;
}

.big-image {
    display: flex;
    align-items: center;
}

.big-image img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border: 1px solid #d2d2d2;
    border-radius: 2px;

}

.related-images {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.related-images img {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #d2d2d2;

}

.product-name {
    color: #4a4a4a;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: system-ui;
}

.product-details-info-sec {
    display: flex;
    justify-content: space-between;
}

.product-type-info {
    width: 63px;
    height: 21px;
    background: #35cf3b;
    color: white;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 22px;
    font-size: 14px;
    font-family: system-ui;
    align-items: center;
    letter-spacing: 0px;

}
.product-type-info-barter {
    width: 232px;
    height: 27px;
    background: #00a6bb;
    color: white;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 22px;
    font-size: 14px;
    font-family: system-ui;
    align-items: center;
    letter-spacing: 0px;
    display: flex;
    gap: 10px;

}
.product-type-info-auction {
    width: 77px;
    height: 21px;
    background: #2196F3;
    color: white;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 22px;
    font-size: 14px;
    font-family: system-ui;
    align-items: center;
    letter-spacing: 0px;
    display: flex;
    gap: 10px;

}
.single-product-page-auction-details{
    margin: 20px 0px 0px 0px;
    display: flex;
    gap: 29px;
    font-size: 17px;
    font-family: system-ui;
    color: black;
    font-weight: 300;
}
.product-description {
    margin: 36px 14px 48px 0px;
    font-size: 17px;
    font-family: system-ui;
    color: #000000;
    word-spacing: 2px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}

.single-product-right {
    width: 500px;
}

.single-product-brand {
    font-size: 15px;
    font-family: system-ui;
    color: #000000;
    margin-top: 5px;
    font-weight: 200;
}

.product-details-page-price {
    font-family: "Heebo", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #2a2a2a;
}

@mixin btn() {
    outline: none;
    border-radius: 42px;
    width: fit-content;
    padding:0px 20px;
    height: 56px;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.5s ease, color 0.4s ease; // Smooth transition for background and text color

    &:hover {
        background-color: white; // Change background color on hover
        color: black !important;
        border: 1px solid black; // Change text color on hover
    }
}

.purchase-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.product-details-page-cart-icon {}

.purchase-btns button {
    @include btn
}

.related-products div {
    font-size: 20px;
    font-weight: bold;
}

.details-product-info-container {
    height: 500px;
}

@media (max-width:676px) {
    .single-product-details {
        width: 100%;
        display: grid;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
    }

    .single-product-container {
        margin: 5px;
    }

    .single-product-left {
        margin: 0px;
    }

    .big-image img {
        width: 372px;
        height: 350px;
        object-fit: contain;
        border: 1px solid #f1f1f1;
        border-radius: 2px;

    }

    .single-product-right {
        width: 372px;
        margin-top: 10px;
    }

    .product-description {
        margin: 5px;

    }

    .details-product-info-container {
        height: auto;
    }
}